---
layout: main
---

<section class="exercises-overview">
<h1>Site content</h1>

<ul>
  <li>Ugeplaner som <a href="{{site.baseurl}}/weekly-plans">html</a></li>
  <li>Opgaver som <a href="{{site.baseurl}}/exercises">html</a></li>
  <li>Ugeplaner og opgaver som <a href="{{site.baseurl}}/pdf">pdf filer</a></li>
  <li><a hef="{{site.baseurl}}/tags">Tags</a></li>
  <li>Other docs as <a href="{{site.baseurl}}/other-docs">html</a></li>
  <li><a href="{{site.baseurl}}/tags">Tags</a></li>
  <li><a href="{{site.baseurl}}/itsxml">ITS learning import XML</a></li>
</ul>

</section>
